<!-- Common Questions -->
<main class="container">
  <section class="text-center">
    <h5> Suggested Answers </h5>
  </section>
  <section class="home__categories row">
    <a class="featured__question col-12 col-sm-3"
       href="{{base_url}}send/adding-new-token-and-sending-custom-tokens.html"
       title="How to Add Custom Token"
       target="_parent">
        <div class="inner">
          How to Add a Custom Token
        </div>
    </a>
    <a class="featured__question col-12 col-sm-3"
       href="{{base_url}}faq/ethereum-balance-not-loading-or-showing.html"
       title="I can't see my Token Balances"
       target="_parent">
        <div class="inner">
          I can't see my Token Balances
        </div>
    </a>
    <a class="featured__question col-12 col-sm-3"
       href="{{base_url}}diving-deeper/ethereum-list-of-support-and-communities.html"
       title="Where to go for help with buying/selling, exchanges, financial advice, ICOs, token projects, or something else."
       target="_parent">
        <div class="inner">
          Help with buying &amp; selling, exchanges, investment advice, ICOs, token projects, and more.
        </div>
    </a>
    <a class="featured__question col-12 col-sm-3"
       href="{{base_url}}security/myetherwallet-protips-how-not-to-get-scammed-during-ico.html"
       title="How to Add Custom Token"
       target="_parent">
        <div class="inner">
          How Not to get Scammed or Phished
        </div>
    </a>
    <a class="featured__question col-12 col-sm-3"
       href="{{base_url}}/hardware-wallets/"
       title="Hardware Wallets"
       target="_parent">
        <div class="inner">
          Hardware Wallets
        </div>
    </a>
    <a class="featured__question col-12 col-sm-3"
       href="{{base_url}}security/phish-hacks-thefts-and-stolen-funds-due-to-phishing.html"
       title="I got Phished/Funds Stolen/I did not make this transaction"
       target="_parent">
        <div class="inner">
          I got Phished/Funds Stolen/I did not make this transaction
        </div>
    </a>
    <a class="featured__question col-12 col-sm-3"
       href="{{base_url}}faq/eth-or-tokens-not-showing-on-exchange.html"
       title="Transaction says complete, but funds have not arrived"
       target="_parent">
        <div class="inner">
          Transaction says complete, but funds have not arrived
        </div>
    </a>
    <a class="featured__question col-12 col-sm-3"
       href="{{base_url}}/faq/"
       title="FAQ"
       target="_parent">
        <div class="inner">
          FAQ
        </div>
    </a>
  </section>
</main>
