<!-- Pre-Footer -->
<main class="footer--pre container">
  <section class="page__meta">
    <a class="btn btn-primary btn-lg"
       href="mailto:support@myetherwallet.com?Subject=Support%20Needed%20--%20{{#if cat_title}}{{title}}{{else if this_category.title}}{{this_category.title}}{{/if}}&Body=%0A%0AMy%20Address%3A%20%0A%0AMy%20Transaction%20Hash%3A%0A%0AFrom%20URL%3A%20{{base_url}}{{#if this_category.slug}}{{this_category.slug}}/{{else if url}}{{url}}{{else if slug}}{{slug}}/{{/if}}" target="_blank" rel="noopener noreferrer">
      Need Help? Message Us
    </a>
  </section>
</main>
