<main class="container-md">

  <h2>
    Send us a Message
  </h2>
  <p> Warning: It is the holidays. Response times may be delayed until 2018. Try searching on this knowledge base, or <a href="{{base_url}}diving-deeper/ethereum-list-of-support-and-communities.html" target="_blank" rel="noopener noreferrer">try the huge list of communities.</a></p>

  <br />


  <!-- Main Fields -->
    <!-- Field: Your Name -->
    <section class="form-group row" id="main_name">
      <label for="name" class="col-3 col-form-label" id="main_name--label">Your Name</label>
      <div class="col-9">
        <input class="form-control"
               type="text"
               name="name"
               id="main_name--input"
               placeholder="e.g. Taylor"
               required>
      </div>
    </section>

    <!-- Field: Your Email -->
    <section class="form-group row" id="main_email">
      <label for="email" class="col-3 col-form-label" id="main_email--label">Your Email</label>
      <div class="col-9">
        <input class="form-control"
               type="email"
               name="email"
               id="main_email--input"
               placeholder="e.g. support@myetherwallet.com"
               required>
      </div>
    </section>

    <!-- Field: Your Address -->
    <section class="form-group row" id="addl_addr">
      <label for="address" class="col-3 col-form-label" id="addl_addr--label">Your ETH Address</label>
      <div class="col-9">
        <input class="form-control"
               type="text"
               name="address"
               id="addl_addr--input"
               placeholder="e.g. 0x7cB57B5A97eAbe94205C07890BE4c1aD31E486A8">
      </div>
    </section>


    <!-- Field: Subject -->
    <section class="form-group row" id="main_sub">
      <label for="subject" class="col-3 col-form-label" id="main_sub--label">Subject</label>
      <div class="col-9">
        <select class="form-control"
                name="subject"
                id="main_sub--input"
                required>

          <option value="">                   What Can We Help You With? </option>
          <option value="accessing-wallet">   Accessing Wallet           </option>
          <option value="adding-tokens">      Adding Tokens              </option>
          <option value="coinbase">           Coinbase Buy Widget        </option>
          <option value="ens">                ENS                        </option>
          <option value="exchanging">         Exchanging / Exchanges     </option>
          <option value="getting-started">    Getting Started            </option>
          <option value="keystore-file">      Keystore File              </option>
          <option value="hardware-wallet">    Ledger or TREZOR           </option>
          <option value="phishing">           Lost ETH / Phishing / Scam </option>
          <option value="lost-password">      Lost Password              </option>
          <option value="lost-pk">            Lost Private Key           </option>
          <option value="metamask">           MetaMask                   </option>
          <option value="nodes-networks">     Nodes / Networks           </option>
          <option value="private-key">        Private Key                </option>
          <option value="sending-transaction">Sending Transaction        </option>
          <option value="sending-tokens">     Sending Tokens             </option>
          <option value="swap">               Swap                       </option>
          <option value="other">              Other                      </option>

        </select>
      </div>
    </section>

  <!-- Helpers -->
    <article class="row">

      <!-- Helpers: accessing-wallet -->
      <section class="kb_helpers helpers--accessing-wallet col-12">
        <p class="helpers__subtitle">
          Please check these articles about <code>accessing your wallet</code> BEFORE messaging us. It's the holidays. Responding may take a while.
        </p>
        <div class="list-group">
          <a href="{{base_url}}getting-started/accessing-your-new-eth-wallet.html"
             class="list-group-item list-group-item-action"
             target="_blank"
             rel="noopener noreferrer">
               Accessing your new wallet
          </a>
          <a href="{{base_url}}faq/unlocking-keystore-file-freezes-browser.html"
             class="list-group-item list-group-item-action"
             target="_blank"
             rel="noopener noreferrer">
               When I unlock via keystore file, it freezes my browser
          </a>
          <a href="{{base_url}}migration/"
             class="list-group-item list-group-item-action"
             target="_blank"
             rel="noopener noreferrer">
               Migrating to &amp; from MyEtherWallet
          </a>
        </div>
      </section>

      <!-- Helpers: adding-tokens -->
      <section class="kb_helpers helpers--adding-tokens col-12">
        <p class="helpers__subtitle">
          Please check these articles about <code>adding tokens</code> BEFORE messaging us. It's the holidays. Responding may take a while.
        </p>
        <div class="list-group">
          <a href="{{base_url}}send/adding-new-token-and-sending-custom-tokens.html"
             class="list-group-item list-group-item-action"
             target="_blank"
             rel="noopener noreferrer">
               Adding Custom Tokens
          </a>
        </div>
        <div class="list-group">
          <a href="{{base_url}}tokens/token-creators-add-your-token-to-myetherwallet.html"
             class="list-group-item list-group-item-action"
             target="_blank"
             rel="noopener noreferrer">
               Token Creators: Adding your Token as a Default Token
          </a>
        </div>
      </section>

      <!-- Helpers: coinbase
      <div class="kb_helpers helpers--coinbase col-12">
        <small class='helpers__title'>
        Have you already read these <code>Coinbase Buy Widget</code>?
        </small>
        <p class="helpers__subtitle">
          Please do so before sending a message. It will be faster.
          </p>
        <div class="list-group">
          <a href="#"
             class="list-group-item list-group-item-action"
             target="_blank"
             rel="noopener noreferrer">
               Cras justo odios
          </a>
        </div>
      </div>
      -->

      <!-- Helpers: ens -->
      <section class="kb_helpers helpers--ens col-12">
        <p class="helpers__subtitle">
          Please check these articles about <code>the ENS</code> BEFORE messaging us. It's the holidays. Responding may take a while.
        </p>
        <div class="list-group">
          <a href="{{base_url}}ens/ens-debugging-a-bad-instruction-reveal.html"
             class="list-group-item list-group-item-action"
             target="_blank"
             rel="noopener noreferrer">
               Debugging a [BAD INSTRUCTION] Reveal
          </a>
          <a href="{{base_url}}ens/ens-what-to-do-if-you-forgot-to-reveal-ens-bid.html"
             class="list-group-item list-group-item-action"
             target="_blank"
             rel="noopener noreferrer">
               What to do if you forgot to reveal your ENS bid
          </a>
          <a href="{{base_url}}ens/"
             class="list-group-item list-group-item-action"
             target="_blank"
             rel="noopener noreferrer">
               All ENS Articles
          </a>
        </div>
      </section>

      <!-- Helpers: exchanging -->
      <section class="kb_helpers helpers--exchanging col-12">
        <p class="helpers__subtitle">
          Please check these articles about <code>exchanges</code> BEFORE messaging us. It's the holidays. Responding may take a while.
        </p>
        <div class="list-group">
          <a href="{{base_url}}faq/buying-selling-exchanging-eth-tokens-fiat.html"
             class="list-group-item list-group-item-action"
             target="_blank"
             rel="noopener noreferrer">
               Where Can I Buy / Sell / Trade / Exchange my ETH or Tokens?
          </a>
          <a href="{{base_url}}faq/eth-or-tokens-not-showing-on-exchange.html"
             class="list-group-item list-group-item-action"
             target="_blank"
             rel="noopener noreferrer">
               ETH or Tokens sent to or from exchange haven't shown up
          </a>
        </div>
      </section>

      <!-- Helpers: getting-started -->
      <section class="kb_helpers helpers--getting-started col-12">
        <p class="helpers__subtitle">
          Please check these articles on <code>getting started</code> BEFORE messaging us. It's the holidays. Responding may take a while.
        </p>
        <div class="list-group">
          <a href="{{base_url}}getting-started/creating-a-new-wallet-on-myetherwallet.html"
             class="list-group-item list-group-item-action"
             target="_blank"
             rel="noopener noreferrer">
               Creating a new wallet
          </a>
          <a href="{{base_url}}getting-started/myetherwallet-tutorials-for-beginners.html"
             class="list-group-item list-group-item-action"
             target="_blank"
             rel="noopener noreferrer">
               Video: Getting started with MyEtherWallet: Tutorials for Beginners
          </a>
        </div>
      </section>

      <!-- Helpers: Keystore File -->
      <section class="kb_helpers helpers--keystore-file col-12">
        <p class="helpers__subtitle">
          Please check these articles about <code>keystore files</code> BEFORE messaging us. It's the holidays. Responding may take a while.
        </p>
        <div class="list-group">
          <a href="{{base_url}}faq/unlocking-keystore-file-freezes-browser.html"
             class="list-group-item list-group-item-action"
             target="_blank"
             rel="noopener noreferrer">
               When I unlock via keystore file, it freezes my browser
          </a>
          <a href="{{base_url}}private-keys-passwords/difference-beween-private-key-and-keystore-file.html"
             class="list-group-item list-group-item-action"
             target="_blank"
             rel="noopener noreferrer">
               Differences between a private key & keystore file
          </a>
          <a href="{{base_url}}private-keys-passwords/how-to-change-ethereum-account-password-unencrypted-encrypted.html"
             class="list-group-item list-group-item-action"
             target="_blank"
             rel="noopener noreferrer">
               Change your wallet password or recreate your keystore file
          </a>
        </div>
      </section>

      <!-- Helpers: hardware-wallet -->
      <section class="kb_helpers helpers--hardware-wallet col-12">
        <p class="helpers__subtitle">
          Please check these articles about <code>Ledger or TREZOR</code> BEFORE messaging us. It's the holidays. Responding may take a while.
        </p>
        <div class="list-group">
          <a href="{{base_url}}hardware-wallets/ledger-hardware-wallet-unable-to-connect-on-myetherwallet.html"
             class="list-group-item list-group-item-action"
             target="_blank"
             rel="noopener noreferrer">
               Unable to Connect to Hardware Wallet
          </a>
          <a href="https://doc.satoshilabs.com/trezor-apps/mew.html"
             class="list-group-item list-group-item-action"
             target="_blank"
             rel="noopener noreferrer">
               Getting Started: TREZOR
          </a>
          <a href="{{base_url}}hardware-wallets/trezor-sending-to-trezor-device.html"
             class="list-group-item list-group-item-action"
             target="_blank"
             rel="noopener noreferrer">
               How to send TO your TREZOR
          </a>
          <a href="https://ledger.groovehq.com/knowledge_base/topics/how-to-use-myetherwallet-with-ledger"
             class="list-group-item list-group-item-action"
             target="_blank"
             rel="noopener noreferrer">
               Getting Started: Ledger Hardware Wallet
          </a>
          <a href="{{base_url}}migration/moving-from-private-key-to-ledger-hardware-wallet.html"
             class="list-group-item list-group-item-action"
             target="_blank"
             rel="noopener noreferrer">
               How to send TO your Ledger Hardware Wallet
          </a>
          <a href="{{base_url}}hardware-wallets/"
             class="list-group-item list-group-item-action"
             target="_blank"
             rel="noopener noreferrer">
               All Hardware Wallet Articles
          </a>
        </div>
      </section>

      <!-- Helpers: phishing -->
      <section class="kb_helpers helpers--phishing col-12">
        <p class="helpers__subtitle">
          Please check these articles about <code>lost ETH</code> BEFORE messaging us. It's the holidays. Responding may take a while.
        </p>
        <div class="list-group">
          <a href="{{base_url}}security/phish-hacks-thefts-and-stolen-funds-due-to-phishing.html"
             class="list-group-item list-group-item-action"
             target="_blank"
             rel="noopener noreferrer">
               Phish, Hacks, Thefts &amp; stolen funds due to phishing messages on Slack / Reddit / Google Ads
          </a>
          <a href="{{base_url}}security/securing-your-ethereum.html"
             class="list-group-item list-group-item-action"
             target="_blank"
             rel="noopener noreferrer">
               Protecting Yourself and Your Funds
          </a>
        </div>
      </section>

      <!-- Helpers: lost-password -->
      <section class="kb_helpers helpers--lost-password col-12">
        <p class="helpers__subtitle">
          Please read this regrading <code>losing your password</code> BEFORE messaging us. It's the holidays. Responding may take a while.
        </p>
        <div class="list-group">
          <a href="{{base_url}}private-keys-passwords/lost-ethereum-wallet-password.html"
             class="list-group-item list-group-item-action"
             target="_blank"
             rel="noopener noreferrer">
               Lost Password Article
          </a>
        </div>
      </section>

      <!-- Helpers: lost-pk -->
      <section class="kb_helpers helpers--lost-pk col-12">
        <p class="helpers__subtitle">
          Please read this regrading <code>losing your private key</code> BEFORE messaging us. It's the holidays. Responding may take a while.
        </p>
        <div class="list-group">
          <a href="{{base_url}}private-keys-passwords/lost-eth-private-key.html"
             class="list-group-item list-group-item-action"
             target="_blank"
             rel="noopener noreferrer">
               Lost Private Key
          </a>
        </div>
      </section>

      <!-- Helpers: metamask -->
      <section class="kb_helpers helpers--metamask col-12">
        <p class="helpers__subtitle">
          Please check these articles regarding <code>MetaMask</code> BEFORE messaging us. It's the holidays. Responding may take a while.
        </p>
        <div class="list-group">
          <a href="{{base_url}}migration/moving-from-private-key-to-metamask.html"
             class="list-group-item list-group-item-action"
             target="_blank"
             rel="noopener noreferrer">
               Getting Started: MetaMask
          </a>
        </div>
      </section>

      <!-- Helpers: nodes-networks -->
      <section class="kb_helpers helpers--nodes-networks col-12">
        <p class="helpers__subtitle">
          Please check these articles about <code>nodes &amp; networks</code> BEFORE messaging us. It's the holidays. Responding may take a while.
        </p>
        <div class="list-group">
          <a href="{{base_url}}networks/"
             class="list-group-item list-group-item-action"
             target="_blank"
             rel="noopener noreferrer">
               Networks &amp; Nodes Articles
          </a>
        </div>
      </section>

      <!-- Helpers: private-key -->
      <section class="kb_helpers helpers--private-key col-12">
        <p class="helpers__subtitle">
          Please check these articles about <code>private keys</code> BEFORE messaging us. It's the holidays. Responding may take a while.
        </p>
        <div class="list-group">
          <a href="{{base_url}}private-keys-passwords/difference-beween-private-key-and-keystore-file.html"
             class="list-group-item list-group-item-action"
             target="_blank"
             rel="noopener noreferrer">
               Differences between a private key & keystore file
          </a>
          <a href="{{base_url}}private-keys-passwords/accessing-different-address-same-private-key-ether.html"
             class="list-group-item list-group-item-action"
             target="_blank"
             rel="noopener noreferrer">
               Private Key opens a different address or two addresses
          </a>
          <a href="{{base_url}}private-keys-passwords/private-key-not-working.html"
             class="list-group-item list-group-item-action"
             target="_blank"
             rel="noopener noreferrer">
               Private Key isn't working
          </a>
          <a href="{{base_url}}private-keys-passwords/how-to-change-ethereum-account-password-unencrypted-encrypted.html"
             class="list-group-item list-group-item-action"
             target="_blank"
             rel="noopener noreferrer">
               Change your wallet password or recreate your keystore file
          </a>
        </div>
      </section>

      <!-- Helpers: sending-transaction -->
      <section class="kb_helpers helpers--sending-transaction col-12">
        <p class="helpers__subtitle">
          Please check these articles about <code>sending transactions</code> BEFORE messaging us. It's the holidays. Responding may take a while.
        </p>
        <div class="list-group">
          <a href="{{base_url}}transactions/transactions-not-showing-or-pending.html"
             class="list-group-item list-group-item-action"
             target="_blank"
             rel="noopener noreferrer">
               <strong> 👉 👉 Transactions are Not Showing Up or Pending Forever</strong>
          </a>
          <a href="{{base_url}}gas/what-is-gas-ethereum.html"
             class="list-group-item list-group-item-action"
             target="_blank"
             rel="noopener noreferrer">
               Understanding Gas & Getting your TX Mined
          </a>
          <a href="{{base_url}}send/how-to-send-eth.html"
             class="list-group-item list-group-item-action"
             target="_blank"
             rel="noopener noreferrer">
               Sending ETH
          </a>
          <a href="{{base_url}}migration/"
             class="list-group-item list-group-item-action"
             target="_blank"
             rel="noopener noreferrer">
               Migrating to &amp; from MyEtherWallet
          </a>
        </div>
      </section>

      <!-- Helpers: sending-tokens -->
      <section class="kb_helpers helpers--sending-tokens col-12">
        <p class="helpers__subtitle">
          Please check these articles about <code>sending tokens</code> BEFORE messaging us. It's the holidays. Responding may take a while.
        </p>
        <div class="list-group">
          <a href="{{base_url}}transactions/transactions-not-showing-or-pending.html"
             class="list-group-item list-group-item-action"
             target="_blank"
             rel="noopener noreferrer">
               <strong>👋 Transactions are Not Showing Up or Pending Forever</strong>
          </a>
          <a href="{{base_url}}send/adding-new-token-and-sending-custom-tokens.html"
             class="list-group-item list-group-item-action"
             target="_blank"
             rel="noopener noreferrer">
               Adding &amp; Sending Tokens
          </a>
        </div>
      </section>

      <!-- Helpers: swap -->
      <section class="kb_helpers helpers--swap col-12">
        <p class="helpers__subtitle">
          If this is a question about an existing Swap, you MUST press the orange button at the bottom of <a href="https://www.myetherwallet.com/#swap">the swap page</a>. We cannot help you via this form, Twitter, or Facebook and it will delay the process.
        </p>
        <div class="list-group">
          <a href="{{base_url}}swap/swap-wasnt-completed-or-was-canceled.html"
             class="list-group-item list-group-item-action"
             target="_blank"
             rel="noopener noreferrer">
               Swap wasn't completed or was canceled
          </a>
          <a href="{{base_url}}swap/trading-eth-btc-rep-bity-swap.html"
             class="list-group-item list-group-item-action"
             target="_blank"
             rel="noopener noreferrer">
               Swapping ETH, BTC, REP on MyEtherWallet via Bity
          </a>
        </div>
        <br />
      </section>

    </article>

  <!-- Additional Fields -->

    <!-- Field: Your TX Hash -->
    <section class="form-group row form__addl-field" id="addl_tx">
      <label for="tx_hash" class="col-3 col-form-label" id="addl_tx--label">Your TX Hash   </label>
      <div class="col-9">
        <input class="form-control"
               type="text"
               name="tx_hash"
               id="addl_tx--input"
               placeholder="e.g. 0xeae3db1bdf64e38343fb318a7c11fc2f0874748e933ac3fa1bdcebdda734f743">
      </div>
    </section>

    <!-- Field: Addl Field 1 -->
    <section class="form-group row form__addl-field" id="addl_1">
      <label for="addl_info_1" class="col-3 col-form-label" id="addl_1--label">Your Address   </label>
      <div class="col-9">
        <input class="form-control"
               type="text"
               name="addl_info_1"
               placeholder="e.g. 0x7cB57B5A97eAbe94205C07890BE4c1aD31E486A8"
               id="addl_1--input" >
      </div>
    </section>

    <!-- Field: Add'l Field 2 -->
    <section class="form-group row form__addl-field" id="addl_2">
      <label for="addl_info_2" class="col-3 col-form-label" id="addl_2--label">Your TX Hash   </label>
      <div class="col-9">
        <input class="form-control"
               type="text"
               name="addl_info_2"
               placeholder="e.g. 0xeae3db1bdf64e38343fb318a7c11fc2f0874748e933ac3fa1bdcebdda734f743"
               id="addl_2--input">
      </div>
    </section>

    <!-- Field: Main Msg Textarea -->
    <section class="form-group row" id="main_msg">
      <label for="message" class="col-3 col-form-label" id="main_msg--label">
        More Details
        <br>
        <small id="detailsHelper" class="form-text text-muted">Include all necessary info so that we can help you. Not doing so will cause delays.</small>
      </label>
      <div class="col-9">
        <textarea class="form-control"
                  name="message"
                  id="main_msg--input"
                  rows="5"
                  required
                  aria-describedby="detailsHelper"
                  placeholder="e.g. I was attempting to unlock by wallet but when I did I got the error message 'Unknown Error: file is not defined.'..."></textarea>

      </div>
    </section>


    <!-- Field: Screenshot -->
    <section class="form-group row">
      <label for="attachment" class="col-3 col-form-label">
        Screenshot
        <small id="detailsHelper" class="form-text text-muted">Image files only. Do not send your private key. Do not send your passport. Do not send screenshots of your address or tx history—include a link instead.</small>
      </label>
      <div class="col-9">
        <input class="form-control-file"
               type="file"
               name="attachment"
               accept="image/x-png,image/gif,image/jpeg"
               id="file">
      </div>

    </section>

    <!-- Field: Body (Will be filled in via JS - msg + subject + additional fields) -->
    <textarea class="form-control" name="body" id="textarea_body" rows="1" style="display:none;"></textarea>

    <div id="html_element"></div>

  </main>

