{{>head}}

<body class="single page">

{{> schema-cat}}
{{> schema-org}}

{{> header}}

<!-- Main -->
<section class="container page__main">

  <section class="list-block--pages">

    <nav class="breadcrumbs">
      <a class="breadcrumbs__home" id="breadCrumbHome" href="{{base_url}}">Home</a>
      ›
      <span id="breadCrumbCategoryTitle{{titleBasedId this_category.title}}"> {{ this_category.title }} </span>
    </nav>

    <div class="block">

      <h2 id="categoriesCategoryTitle{{titleBasedId this_category.title}}">{{this_category.title}}</h2>

      <ul class="list-group">
        {{#each pages}}
          {{#if (eq cat_title ../this_category.title) }}
            <li>
              <a class="list-group-item list-group-item-action" id="category{{titleBasedId ../this_category.title title}}" href="{{../base_url}}{{url}}" title="{{title}}">{{title}}</a>
            </li>
          {{/if}}
        {{/each}}
      </ul>

    </div>

  </section>

</section>

{{> footer}}

</body>

</html>
